$titillium-dir: "../lib/TitilliumText";

@font-face {
  font-family: "Titillium";
  font-weight: 500;
  font-style: normal;
  src: url($titillium-dir + "/TitilliumText22L002-webfont.eot");
  src:
    url($titillium-dir + "/TitilliumText22L002-webfont.eot?#iefix") format("embedded-opentype"),
    url($titillium-dir + "/TitilliumText22L002-webfont.woff") format("woff"),
    url($titillium-dir + "/TitilliumText22L002-webfont.ttf") format("truetype"),
    url($titillium-dir + "/TitilliumText22L002-webfont.svg#TitilliumText22LLight") format("svg");
}
