$bg-color: transparentize(black, 0.25);
$fg-color: #d3d3d3;
$border-color: transparentize($fg-color, 0.75);

$bar-height: 30px;

@mixin box-sizing($args) {
  -moz-box-sizing: $args;
  box-sizing: args;
}

@mixin transition($args) {
  -moz-transition: $args;
  -webkit-transition: $args;
  transition: $args;
}

@mixin linear-gradient($start: transparent, $end: transparent, $from: top) {
  background-color: transparent;
  background-image: -moz-linear-gradient($from, $start, $end);
  background-image: -webkit-linear-gradient($from, $start, $end);
  background-image: linear-gradient($from, $start, $end);
}

.zooniverse-bar {
  background: $bg-color;
  border-bottom: 1px solid $border-color;
  color: $fg-color;
  float: left;
  font: 12px Titillium, "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 100;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: lighten($fg-color, 100%);
    }
  }

  > .zooniverse-menu {
    margin: 0;
    padding: 0;

    &.leading {
      float: left;
      margin-left: $bar-height;

      > .zooniverse-menu-item {
        border-right: 1px solid $border-color;

        > .zooniverse-dropdown-content {
          left: -1px;
        }
      }
    }

    &.trailing {
      float: right;
      margin-right: $bar-height;

      > .zooniverse-menu-item {
        border-left: 1px solid $border-color;

        > .zooniverse-dropdown-content {
          right: -1px;
        }
      }
    }

    > .zooniverse-menu-item {
      border-top: 0;
      cursor: default;
      display: block;
      float: left;
      position: relative;

      > a,
      > .zooniverse-dropdown-heading {
        display: inline-block;
        padding: 6px 20px 3px;
      }

      > .zooniverse-dropdown-heading:after {
        // content: "\25BC"; // Down-arrow
        font-size: 8px;
        margin-left: 2px;
        opacity: 0.67;
        vertical-align: 0;
      }

      > .zooniverse-dropdown-content {
        background: $bg-color;
        border: 1px solid $border-color {
          top: 0;
        };
        position: absolute;
        top: 100%;

        &:after {
          content: " ";
          height: 100px;
          left: 0;
          position: absolute;
          top: 100%;
          width: 100%;
        }

        &.zooniverse-menu {
          margin: 0;
          padding: 0;

          > .zooniverse-menu-item {
            border-top: 1px solid $border-color;
            display: block;

            &.zooniverse-link {
              > a {
                display: block;
                padding: 6px 20px 3px;
                white-space: nowrap;
              }
            }

            &.zooniverse-accordion {
              > .zooniverse-accordion-heading {
                display: block;
                font-size: 24px;
                padding: 9px 20px 3px;
                text-align: center;

                &:hover {
                  color: lighten($fg-color, 50%);
                }
              }

              > .zooniverse-accordion-content {
                // NOTE: Show/hide animation handled by script.
                overflow: hidden;

                &.zooniverse-menu {
                  margin: 0;
                  padding: 0;

                  > .zooniverse-menu-item {
                    border-top: 1px solid $border-color;
                    display: block;

                    &.zooniverse-link {
                      > a {
                        display: block;
                        padding: 6px 20px 3px;
                        white-space: nowrap;

                        &:hover {
                          background: $bg-color;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &:hover,
      &.open {
        background: $bg-color;
      }
    }
  }

  &[lang="en"] [lang="de"], &[lang="en"] [lang="pl"],
  &[lang="de"] [lang="en"], &[lang="de"] [lang="pl"],
  &[lang="pl"] [lang="en"], &[lang="pl"] [lang="de"] {
    display: none;
  }

  form.zooniverse-sign-in {
    border-top: 1px solid $border-color;
    padding: 15px 0;

    > div {
      padding: 3px 15px;

      > label {
        display: inline-block;
        position: relative;
        white-space: nowrap;

        > input {
          @include box-sizing(border-box);
          background: transparentize($fg-color, 0.8);
          border: 1px solid transparentize($fg-color, 0.8);
          box-shadow: 0 0 5px -1px $bg-color inset;
          color: inherit;
          font-family: inherit;
          letter-spacing: inherit;
          margin: 0;
          padding: 6px 5px 3px;
          width: 210px;

          + .placeholder {
            opacity: 0.75;
            position: absolute;
            left: 0;
            margin: 7px 5px 0;
            top: 0;
          }

          &:focus +.placeholder,
          &.full + .placeholder {
            display: none;
          }
        }
      }

      &.zooniverse-action {
        text-align: right;

        > a {
          letter-spacing: normal;
          opacity: 0.8;
          text-transform: none;
        }

        > button {
          @include linear-gradient($border-color, transparent);
          border: 1px solid $border-color;
          color: inherit;
          cursor: pointer;
          font: {
            family: inherit;
            size: inherit;
          };
          letter-spacing: inherit;
          margin-left: 10px;
          padding: 6px 15px 3px;
          text-transform: inherit;
        }
      }
    }
  }
}
