.zooniverse-bar {
  background: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  float: left;
  font: 12px Titillium, "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%; }
  .zooniverse-bar a {
    color: inherit;
    text-decoration: none; }
  .zooniverse-bar > .menu {
    margin: 0;
    padding: 0; }
    .zooniverse-bar > .menu.leading {
      float: left;
      margin-left: 30px; }
      .zooniverse-bar > .menu.leading > .menu-item {
        border-right: 1px solid rgba(255, 255, 255, 0.25); }
        .zooniverse-bar > .menu.leading > .menu-item > .dropdown-content {
          left: -1px; }
    .zooniverse-bar > .menu.trailing {
      float: right;
      margin-right: 30px; }
      .zooniverse-bar > .menu.trailing > .menu-item {
        border-left: 1px solid rgba(255, 255, 255, 0.25); }
        .zooniverse-bar > .menu.trailing > .menu-item > .dropdown-content {
          right: -1px; }
    .zooniverse-bar > .menu > .menu-item {
      border-top: 0;
      cursor: default;
      display: block;
      float: left;
      position: relative; }
      .zooniverse-bar > .menu > .menu-item > a,
      .zooniverse-bar > .menu > .menu-item > .dropdown-heading {
        display: inline-block;
        padding: 6px 20px 3px; }
      .zooniverse-bar > .menu > .menu-item > .dropdown-heading:after {
        font-size: 8px;
        margin-left: 2px;
        opacity: 0.67;
        vertical-align: 0; }
      .zooniverse-bar > .menu > .menu-item > .dropdown-content {
        background: rgba(0, 0, 0, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.25);
          border-top: 0;
        position: absolute;
        top: 100%; }
        .zooniverse-bar > .menu > .menu-item > .dropdown-content:after {
          content: " ";
          height: 100px;
          left: 0;
          position: absolute;
          top: 100%;
          width: 100%; }
        .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu {
          margin: 0;
          padding: 0; }
          .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu > .menu-item {
            border-top: 1px solid rgba(255, 255, 255, 0.25);
            display: block; }
            .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu > .menu-item.link > a {
              display: block;
              padding: 6px 20px 3px;
              white-space: nowrap; }
            .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu > .menu-item.link:hover {
              background: rgba(0, 0, 0, 0.75); }
            .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu > .menu-item.accordion > .accordion-heading {
              display: block;
              font-size: 24px;
              padding: 9px 20px 3px;
              text-align: center; }
            .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu > .menu-item.accordion > .accordion-content {
              overflow: hidden; }
              .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu > .menu-item.accordion > .accordion-content.menu {
                margin: 0;
                padding: 0; }
                .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu > .menu-item.accordion > .accordion-content.menu > .menu-item {
                  border-top: 1px solid rgba(255, 255, 255, 0.25);
                  display: block; }
                  .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu > .menu-item.accordion > .accordion-content.menu > .menu-item.link > a {
                    display: block;
                    padding: 6px 20px 3px;
                    white-space: nowrap; }
                    .zooniverse-bar > .menu > .menu-item > .dropdown-content.menu > .menu-item.accordion > .accordion-content.menu > .menu-item.link > a:hover {
                      background: rgba(0, 0, 0, 0.75); }
      .zooniverse-bar > .menu > .menu-item:hover, .zooniverse-bar > .menu > .menu-item.open {
        background: rgba(0, 0, 0, 0.75); }
  .zooniverse-bar[lang="en"] [lang="de"], .zooniverse-bar[lang="en"] [lang="pl"], .zooniverse-bar[lang="de"] [lang="en"], .zooniverse-bar[lang="de"] [lang="pl"], .zooniverse-bar[lang="pl"] [lang="en"], .zooniverse-bar[lang="pl"] [lang="de"] {
    display: none; }
  .zooniverse-bar form.sign-in {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 15px 0; }
    .zooniverse-bar form.sign-in > div {
      padding: 3px 15px; }
      .zooniverse-bar form.sign-in > div > label {
        display: inline-block;
        position: relative;
        white-space: nowrap; }
        .zooniverse-bar form.sign-in > div > label > input {
          -moz-box-sizing: border-box;
          box-sizing: args;
          background: rgba(255, 255, 255, 0.2);
          border: 1px solid rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.75) inset;
          color: inherit;
          font-family: inherit;
          letter-spacing: inherit;
          margin: 0;
          padding: 6px 5px 3px;
          width: 210px; }
          .zooniverse-bar form.sign-in > div > label > input + .placeholder {
            opacity: 0.75;
            position: absolute;
            left: 0;
            margin: 7px 5px 0;
            top: 0; }
          .zooniverse-bar form.sign-in > div > label > input:focus + .placeholder, .zooniverse-bar form.sign-in > div > label > input.full + .placeholder {
            display: none; }
      .zooniverse-bar form.sign-in > div.action {
        text-align: right; }
        .zooniverse-bar form.sign-in > div.action > a {
          letter-spacing: normal;
          opacity: 0.8;
          text-transform: none; }
        .zooniverse-bar form.sign-in > div.action > button {
          background-color: transparent;
          background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), transparent);
          background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), transparent);
          background-image: linear-gradient(top, rgba(255, 255, 255, 0.25), transparent);
          border: 1px solid rgba(255, 255, 255, 0.25);
          color: inherit;
          cursor: pointer;
          font-family: inherit;
          font-size: inherit;
          letter-spacing: inherit;
          margin-left: 10px;
          padding: 6px 15px 3px;
          text-transform: inherit; }
