<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title><%= project %></title>
    <link href="styles/main.css" rel="stylesheet" />
  </head>

  <body>
    <script src="scripts/lib/require.js"></script>
    <script>
      require.config({});
      require(['main']);
    </script>
  </body>
</html>
