.zooniverse-login-form {
  > .errors {
    display: none;
  }

  > .sign-in {}

  > .waiting {
    display: none;
  }

  > .sign-out {
    display: none;
  }

  &.waiting {
    > .sign-in {
      opacity: 0.5;
    }

    > .waiting {
      display: block;
    }
  }

  &.has-error {
    > .errors {
      display: block;
    }
  }

  &.signed-in {
    > .errors,
    > .sign-in,
    > .waiting {
      display: none;
    }

    > .sign-out {
      display: block;
    }
  }
}