$top-bar-height: 100px;
$black: #000;
$white: #fff;

@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

@mixin transition($value) {
  -moz-transition: $value;
  -ms-transition: $value;
  -webkit-transition: $value;
  transition: $value;
}

.zooniverse-top-bar {
  @include transition(height 0.33s ease-in-out);
  color: $black;
  font: 10px "Open Sans", sans-serif;
  height: 5px;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  z-index: 900;
}

.show-top-bar .zooniverse-top-bar {
  height: $top-bar-height;
}

#zooniverse-top-bar-container {
  @include box-sizing(border-box);
  background: $white;
  border-bottom: 1px solid transparentize($black, 0.75);
  bottom: 0;
  height: $top-bar-height;
  left: 0;
  padding: 0 15px;
  position: absolute;
  width: 100%;

  #zooniverse-top-bar-info {
    border-right: 1px solid transparentize($black, 0.75);
    box-shadow: 1px 0 0 transparentize($white, 0.5);
    float: left;
    margin: 20px 15px;
    padding-right: 15px;
    width: 450px;
  }

  #zooniverse-top-bar-projects {
    float: left;
    margin: 20px 15px;
    width: 275px;
  }

  #zooniverse-top-bar-languages {
    display: none; // TODO
  }

  #zooniverse-top-bar-login {
    float: right;
    margin: 20px 15px;

    .login,
    .welcome {
      margin-top: 15px;
      position: relative;

      .inputs,
      .buttons {
        display: inline-block;
        margin-bottom: 5px;
      }

      h3 {
        display: inline-block;
        vertical-align: middle;
      }

      .reset {
        left: 0;
        position: absolute;
        top: 100%;
      }
    }
  }

  h3 {
    font-size: 18px;
    margin: 0;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }

  input {
    @include box-sizing(border-box);
    background: white;
    border: 1px solid transparentize($black, 0.33);
    border-radius: 3px;
    box-shadow: 0 1px 1px transparentize($black, 0.33) inset;
    height: 24px;
    margin-right: 5px;
    padding: 0 5px;
    vertical-align: middle;
    width: 130px;
  }

  button {
    // standard-button()
    height: 24px;
    margin-left: 5px;
    padding: 0;
    width: 90px;
  }
}

#zooniverse-top-bar-button {
  background: $white;
  border: 0px solid transparentize($black, 0.75);
  border-width: 0 1px 1px;
  border-radius: 0 0 5px 5px;
  left: 50%;
  margin: -1px 0 0 -500px;
  position: absolute;
  text-align: center;
  top: 100%;

  a {
    display: block;
    overflow: hidden;

    img {
      border: 0;
      display: block;
      margin: 12px;
    }
  }
}

@media (max-width: 1380px) {
  #zooniverse-top-bar-container {
    #zooniverse-top-bar-info,
    #zooniverse-top-bar-projects {
      margin: 35px 0 0 15px;
      width: auto;

      p {
        display: none;
      }
    }
  }
}

@media (max-width: 1080px) {
  #zooniverse-top-bar-container {
    #zooniverse-top-bar-info {
      border-right: 0;
    }

    #zooniverse-top-bar-projects {
      display: none;
    }
  }
}

@media (max-width: 1020px) {
  #zooniverse-top-bar-button {
    left: 20px;
    margin-left: 0;
  }
}

@media (max-width: 950px) {
  #zooniverse-top-bar-container {
    #zooniverse-top-bar-info {
      display: none;
    }

    #zooniverse-top-bar-login {
      float: left;
    }
  }
}
